body{
margin:0;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;

background:linear-gradient(
90deg,
#2d3561,
#9c8da6
);
color:white;
}

.gameContainer{
width:650px;
text-align:center;
}

#gameTitle{
font-size:34px;
margin-bottom:5px;
}

.trial{
background:#ffd84d;
color:black;
display:inline-block;
padding:8px 18px;
border-radius:8px;
font-weight:bold;
margin:10px;
}

h2{
font-size:24px;
}

.infoPanel h3{
margin:5px;
font-weight:normal;
}

/* game area */

.gameArea{
position:relative;
width:520px;
height:280px;
margin:auto;
margin-top:20px;
background:#ffffff22;
border-radius:10px;
overflow:hidden;
}

/* bubbles */

.bubble{
position:absolute;
width:70px;
height:70px;
border-radius:50%;
background:#2e86c1;
color:white;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
cursor:pointer;
font-size:16px;
}

.pop{
animation:pop 0.25s forwards;
}

@keyframes pop{
0%{transform:scale(1);}
100%{transform:scale(0);opacity:0;}
}

.wrongMark{
position:absolute;
font-size:28px;
color:red;
}

/* timer bar */

.timerBar{
width:260px;
height:10px;
background:#ffffff33;
border-radius:10px;
margin:auto;
margin-top:10px;
}

#timerProgress{
height:100%;
width:100%;
background:#f39c12;
border-radius:10px;
transition:width 1s linear;
}
